{{#each items}}
  <li class="friends-left__item friend">
    <img class="friend__avatar" src="{{photo_50}}" alt="ava">
    <div class="friend__name">{{first__name}} {{last_name}}</div>
  </li>
{{/each}}
