<form action="#" class="form" data-role="added">
  <input type="text" class="form__input" name="name" placeholder="Укажите имя" required>
  <input type="text" class="form__input" name="place" placeholder="Укажите место" required>
  <input type="hidden" class="form__input" name="coords" value="{{coords}}">
  <input type="hidden" class="form__input" name="address" value="{{address}}">
  <input type="hidden" class="form__input" name="dateNow" value="{{dateNow}}">
  <textarea name="review" class="form__input" placeholder="Выш отзыв" required></textarea>
  <button type="submit" class="btn">Добавить</button>
</form>